body{
  margin: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
.custom-alert{
    position: fixed;
    top: 80px;
    right: 25px;
}
.titulo{
    text-decoration: none;
    color: white;
    text-align: center;

}
.pie{
    display: flex;
    min-height: 70px;
    background-color: rgb(6, 39, 58);
    justify-content: center;
    align-items: center ;
    padding: 10px;
    HEIGHT: 138PX;
    
}

header{
    display: flex;
    min-height: 70px;
    background-color: rgb(6, 39, 58);
    justify-content: space-between;
    align-items: center ;
    padding: 10px;
    HEIGHT: 100PX;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    margin-right: 20px;
}
.titulo{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fondologin {
    background-image: url(../img/fondo2.0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    padding: 20px;
    margin: auto;
   
}
.contenedor__todo{
    
    width: 100%;
    max-width: 800PX;
    margin: auto;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100PX;
}
.caja__trasera{
    width: 100%;
    
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
    background-color: rgba(6, 39, 58, 0.5);
}
.caja__trasera div{
    margin: 100px 60px;
    color: white;
    transition: all 500ms;
}
.caja__trasera div button, .caja__trasera div p{
    margin-top: 30px;

}
.caja__trasera div h3{
    font-weight: 400;
    font-size: 26px;

}
.caja__trasera div button{
    padding: 10px 40px;
    border: 2px solid white;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}
.caja__trasera button:hover{
    background:white;
    color:rgb(6, 39, 58);
}
/*formularios*/
.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -209px;
    left: 20px;
    transition: left 500ms cubic-bezier(0.175,0.885,0.320,1.275);
}
.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
}
.contenedor__login-register form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color:rgb(6, 39, 58) ;
}
.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: white;
    font-size: 16px;
    outline: none;
}
.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: rgb(6, 39, 58) ;
    color: white;
    cursor: pointer;
    outline: none;
}
.formulario__login{
    opacity: 1;
    display: block;

}
.formulario__registro{
    display: none;
}

@media screen and  (max-width:850px){
    main{
        margin-top: 50px;
    }
    .caja__trasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }
    .caja__trasera div{
        margin: 0px;
        position: absolute;

    }
    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;

    }
    .contenedor__login-register form{
        position: relative;
    }
}
@media (max-width:700px){
    header{
        flex-direction: column;
    }
}